<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallary</title>
    <link rel="stylesheet" href="/static/css/gallary.css">
</head>
<body>
    {{>nav data=data}}
    <h1>Gallary</h1>
    <img src="/static/images/img.avif" alt="">
</body>
</html>